.footer {
  padding: 0 30px 30px;
  display: flex;
  align-items: center;

  &.withTopPadding {
    padding-top: 30px;
  }
}

.footerbuttons {
  margin-left: auto;
}

.footerbuttons > button:first-of-type {
  margin-right: 12px;
}
